doctype html
html(ng-app='libraryApp')
  head
    title= title
    link(rel='stylesheet', href='/vendor_mdl/material.min.css')
    //-link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    script(src='/vendor_angularjs/angular.js')
    script(src='/vendor_angularjs/angularLibraryApp.js')
    script(src='/vendor_mdl/material.min.js')